body {
  font-family: 'Great Vibes';
  margin: 0;
  font-size: 18px;
}

input {
  font-family: 'Great Vibes';
}

main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 64px);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  } 
}

.container {
  text-transform: capitalize;
  line-height: 33px;
}

.container span {
  font-weight: bold;
}

input {
  font-size: 12px;
}

form, .value {
  display: none;
}

.value {
  box-shadow: 1px 1px 5px #aa7e7e;
  padding: 32px;
  font-size: 23px;
  text-align: center;
  width: max-content;
  align-self: center;
  border-radius: 5px;
  font-weight: bold;
}